
root { 
    display: block;
}
.root {
    -fx-background-image: url("/img/background.png");
    -fx-background-color: rgb(0, 0, 0);
}
.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 0,0,0,1 );
}

#welcome-text {
   -fx-font-size: 32px;
   -fx-font-family: "Arial Narrow";
   -fx-fill: white;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}
.hyperlink:visited {
  -fx-text-fill: darkgray;
}
.hyperlink {
 -fx-font-size: 11px;
}

#actiontarget {
  -fx-fill: FIREBRICK;
  -fx-font-weight: bold;
  -fx-effect: dropshadow( gaussian , rgba(3,3,3,0.5) , 0,0,0,1 );
}

